{% extends 'global/base.html' %}
{% load static %}

{% block content %}
{% include 'components/navbar_app.html' %}

<section id="conteudo_landing" class="bg-gray-900 flex align-center justify-around flex-row container mx-auto h-full ">

    
    <aside class="flex bg-gray-900 align-center justify-center flex-col">
        <h1 class="text-gray-50 text-4xl my-auto">Aqui vem um grafico em pizza</h1>
    </aside>
    <main class="flex bg-gray-900 align-center justify-center flex-col">
        <div >
            <h1 class="text-gray-50 text-4xl my-auto">aqui vem o principal do app</h1>
        </div>
    </main>
    
</section>


{% endblock %}