{% extends 'global/base.html' %} {% load static %} {% block content %} 
{%include 'components/navbar_app.html' %}

<section
  id="conteudo_landing"
  class="bg-gray-900 flex align-center justify-around flex-row container mx-auto h-full"
>
  <aside class="flex bg-gray-900 align-center justify-center flex-col">
    <h1 class="text-gray-50 text-4xl my-auto">Aqui vem um grafico em pizza</h1>
  </aside>
  <main class="flex bg-gray-900 align-center justify-center flex-col mt-5">
    <form action="{% url 'add_record' %}" method="post" class="flex">
      {% csrf_token %}
      <select name="type" id="type" class="border-none rounded-l-lg">
        <option value="0" class="backdrop-opacity-60">🔴</option>
        <option value="1" class="backdrop-opacity-60">🟢</option>
      </select>
      <input
        type="text"
        name="name"
        class="border-none"
        placeholder="Register Name"
        required
      />
      <input
        type="number"
        step="any"
        name="value"
        id="value"
        class="border-none w-40"
        placeholder="Value"
        required
      />
      <select name="tag" id="tag" class="border-none">
        <option value="" hidden>Tag</option>
        {% for tag in tags %}
          <option value="{{ tag.id }}">{{ tag.name }}</option>
        {% endfor %}
      </select>

      <button
        type="submit"
        class="bg-green-800 text-gray-50 py-2 px-5 rounded-r-lg"
      >
        Add
      </button>
    </form>
  </main>
</section>

{% endblock %}
