{% extends 'global/base.html' %} {% load static %} {% block content %}
{%include 'components/navbar_app.html' %}

<main class="mt-2 w-screen flex flex-col lg:flex-row">
  
  <div class="">
    {% if user.userprofile.balance >= 0%}
    <h1 class="text-green-800 text-center text-6xl my-4">
      R$ {{ user.userprofile.balance }}
    </h1>
    {% else %}
    <h1 class="text-red-700 text-center text-6xl my-4">
      R$ {{ user.userprofile.balance }}
    </h1>
    {% endif %}
  </div>

  <div>
    {% for record in records %}
  <div class="w-5/6 mx-auto flex my-4">
    <div
      class="flex pt-1 pb-2 bg-gray-400 rounded-l-lg px-5 w-full justify-between"
    >
      <div>
        <h1 class="text-gray-50 text-2xl">{{ record.name }}</h1>
        {% if record.record_type == 0 %}
        <span class="text-red-700 mt-2">- R$ {{ record.value }}</span>
        {% else %}
        <span class="text-green-700 mt-2">+ R$ {{ record.value }}</span>
        {% endif %}
      </div>
      <div>
        <span class="text-gray-50 mt-4">{{ record.id_tag.name }}</span>
      </div>
    </div>

    <div
      class="py-3 px-5 {% if record.record_type == 0 %}bg-red-500 {% else %}bg-green-500{% endif %} rounded-r-lg"
    ></div>
  </div>

  {% endfor %}
  </div>
  
</main>

{% endblock %}
